# Ignora o diretório Vercel
.vercel/
# Ignora arquivos .log
*.log
# Ignora arquivos .txt
*.txt
# Ignora o diretório Vercel
.trae/
# Ignora o diretório Vercel
.cursor/
# Ignora o diretório Vercel
.vscode/